@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html, body, #__next {
  height: 100%;
}

body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

.container {
  @apply mx-auto max-w-7xl px-3 sm:px-6 lg:px-8;
}
